@model WolWeb.ViewModel.PreconfiguredHostsViewModel

<header>
    Wake-on-LAN Web
</header>

<div id="body">
    <div>
        MAC address: <input type="text" id="macAddress" value="" /> <input type="button" id="wake" value="Send the Wake signal" /> 
    </div>
    <div>
        IP address / host: <input type="text" id="ipAddress" value="" /> <code id="pingResult"></code>
    </div>
    <div>   
        <input type="button" id="shutdown" value="Send the Shutdown signal" /> <code id="shutdownResult"></code>
    </div>     
  
    <ul>
        @foreach(var host in Model.PreconfiguredHosts) {
        <li><a href="javascript:loadPreconfiguredHost('@host.IpAddress', '@host.MacAddress');">@host.Name</a></li>
        }
    </ul>
</div>

<footer>
    &copy by Hannes Sachsenhofer
</footer>

@section scripts {
    <script>
        $(document).ready(function () {

            var pingResultSpan = $("#pingResult");
            sendPing();
            $.interval(function () {
                sendPing();
            }, 1000);

            var wakeButton = $("#wake");
            wakeButton.click(function() {
                wakeButton.attr("disabled", "disabled");
                $.getJSON("@Url.Action("Index", "Wake")", { id: $("#macAddress").val() }, function (result) {
                    wakeButton.removeAttr("disabled");
                });
            });

            var shutdownButton = $("#shutdown");
            var shutdownResultSpan = $("#shutdownResult");
            shutdownButton.click(function() {
                shutdownButton.attr("disabled", "disabled");
                shutdownResultSpan.html("Shutting down ...");
                $.getJSON("@Url.Action("Index", "Shutdown")", { id: $("#ipAddress").val() }, function (result) {
                    shutdownButton.removeAttr("disabled");
                    shutdownResultSpan.html(result);
                });
            });

        });

        function sendPing() {
            var ipAddress = $("#ipAddress").val();

            if (ipAddress && ipAddress != "") {
                $.getJSON("@Url.Action("Index", "Ping")", { id: ipAddress }, function (result) {
                    $("#pingResult").html(result);
                });
            }
        }

        function loadPreconfiguredHost(ipAddress, macAddress) {
            $("#pingResult").val("");
            $("#shutdownResult").val("");

            $("#ipAddress").val(ipAddress);
            $("#macAddress").val(macAddress);

            sendPing();
        }
    </script>
}

<!-- 
    00-24-7E-0E-23-0B / 10.2.1.175 
-->

