@model WolWeb.ViewModels.Home.IndexViewModel

<header>
    @if (!string.IsNullOrEmpty(Model.UserName)) {
        <span>Hello, @Model.UserName</span>
    }
    Wake-on-LAN Web
</header>

<div id="body">
    <table>
        <tr>
            <th>Host</th>
            <th>IP address</th>
            <th>MAC address</th>
            <th>Ping result</th>
            <th>Actions</th>
        </tr>
        @{var count = 0;}
        @foreach (var host in Model.PreconfiguredHosts) {
            <tr class="@(count++ % 2 == 1 ? "alternate" : "")">
                <td class="hostName">@host.Name</td>
                <td class="ipAddress">@host.IpAddress</td>
                <td class="macAddress">@host.MacAddress</td>
                <td class="pingResult"></td>
                <td>
                    <input type="button" class="wakeButton" value="Wake Up" disabled="disabled" />
                    <input type="button" class="shutdownButton" value="Shutdown" disabled="disabled" />
                    <input type="button" class="restartButton" value="Restart" disabled="disabled" />
                </td>
            </tr>
        }
    </table>
  
</div>

<footer>
    &copy by Hannes Sachsenhofer (built at @Model.CompilationTime.ToUniversalTime().ToString() UTC)
</footer>

@section scripts {
    <script>

        var pingUrl = '@Url.Action("Index", "Ping")';
        var wakeUrl = '@Url.Action("Index", "Wake")';
        var shutdownUrl = '@Url.Action("Index", "Shutdown")';
        var restartUrl = '@Url.Action("Restart", "Shutdown")';

        $(document).ready(function () {
            sendPings();
            $.interval(function () {
                sendPings();
            }, 3000);

            $(".wakeButton").each(function (i, val) {
                var wakeButton = $(val);

                wakeButton.click(function () {
                    wakeButton.attr("disabled", true);

                    var macAddress = wakeButton.parent().parent().find(".macAddress").html();
                    $.getJSON(wakeUrl, { id: macAddress }, function (result) {
                        if (result && result != "")
                            alert("Failed: " + result);
                        wakeButton.attr("disabled", false);
                    });
                });
            });


            $(".shutdownButton").each(function (i, val) {
                var shutdownButton = $(val);

                shutdownButton.click(function () {
                    shutdownButton.attr("disabled", true);

                    var ipAddress = shutdownButton.parent().parent().find(".ipAddress").html();
                    $.getJSON(shutdownUrl, { id: ipAddress }, function (result) {
                        if (result && result != "")
                            alert("Failed: " + result);
                        shutdownButton.attr("disabled", false);
                    });
                });
            });


            $(".restartButton").each(function (i, val) {
                var restartButton = $(val);

                restartButton.click(function () {
                    restartButton.attr("disabled", true);

                    var ipAddress = restartButton.parent().parent().find(".ipAddress").html();
                    $.getJSON(restartUrl, { id: ipAddress }, function (result) {
                        if (result && result != "")
                            alert("Failed: " + result);
                        restartButton.attr("disabled", false);
                    });
                });
            });
        });

        function sendPings() {
            $(".pingResult").each(function(i, val) {
                var pingResult = $(val);

                var ipAddress = pingResult.parent().find(".ipAddress").html();
                if (ipAddress && ipAddress != "") {
                    $.getJSON(pingUrl, { id: ipAddress }, function (result) {
                        pingResult.html(result.Message);

                        if (result.Status) {
                            pingResult.parent().find(".wakeButton").attr("disabled", true);
                            pingResult.parent().find(".shutdownButton").attr("disabled", false);
                            pingResult.parent().find(".restartButton").attr("disabled", false);
                        }
                        else {
                            pingResult.parent().find(".wakeButton").attr("disabled", false);
                            pingResult.parent().find(".shutdownButton").attr("disabled", true);
                            pingResult.parent().find(".restartButton").attr("disabled", true);
                        }

                    });
                }

            });
        }

    </script>
}

